<span>{{title}}</span>
<div>
  {{#each ingredients as |ingredient|}}
    <span class="ember-power-select-multiple-option">
      <div class="arrow-down-btn" {{action "removeItem" ingredient}} />
      {{ingredient.name}}
    </span>
  {{/each}}
</div>
