<div class="flex-1 rounded-[5px] shadow-recipe m-[5px]" ...attributes="">
  <span class="inline-block w-full text-center font-georgia text-lg text-light_green subpixel-antialiased">{{@title}}</span>
  <div class="flex flex-wrap p-[5px]">
    {{#each @ingredients as |ingredient|}}
      <span class="inline-block bg-gray-100 leading-tight font-gothic text-left m-0.5 rounded-[10px] px-[5px] pt-[4px] pb-[5px] border-0 overflow-hidden text-xs ring-1 ring-zinc-500 ring-inset subpixel-antialiased">
        <span {{on "click" (fn this.removeItem ingredient)}} class="remove-btn bg-zinc-400 text-white hover:bg-zinc-500">×</span>
        {{to-lower-case ingredient.name}}
      </span>
    {{/each}}
  </div>
</div>
