<div>
  <span class="author-name">{{comment.author.name}}</span>
  <span class="time-from-now">{{moment-from-now comment.posted locale='ru'}}</span>
  <span class="glyphicon glyphicon-remove" aria-hidden="true" {{action "deleteComment"}}></span>
</div>
<p>
  {{comment.text}}
</p>
