<div>
  <hr />
  <span class="author-name">{{comment.author.name}}</span>
  <span class="time-from-now">{{moment-from-now comment.posted locale='ru'}}</span>
  {{#if isCurrentUserAuthor}}
    <span class="glyphicon glyphicon-remove remove-comment" aria-hidden="true" {{action "deleteComment"}}></span>
  {{/if}}
</div>
<p>
  {{comment.text}}
</p>
