{{#if currentUser.isLoggedIn}}
  {{textarea value=commentText maxlength="500" class="form-control" rows="3" placeholder="Здесь вы можете оставить комментарий" }}
  <button id="submitComment" class="btn btn-default" {{action "submitComment"}}>Отправить</button>
{{else}}
  <p class="form-control">
    Чтобы оставить комментарий, нужно <a {{action "showLogin"}}>авторизироваться</a> на сайте.
  </p>
{{/if}}
