{{#if this.showHint}}
  <div class="flex flex-col border rounded px-[5px] shadow-recipe" ...attributes>
    <span class="inline-block w-full font-gothic text-md">
      {{@text}}
    </span>
    <button type="button" {{on "click" this.closeHint}} class="self-end h-[36px] my-[10px] mr-[5px] block px-[12px] py-[6px] text-sm border border-greengray rounded-[4px] text-light_green font-gothic font-bold focus:outline-none hover:bg-gray-200 active:shadow-inner active:bg-green-200">{{localized ru='Все понятно' en='All clear' uk='Все зрозуміло'}}</button>
  </div>
{{/if}}