<!-- Modal -->
<div class="modal fade" id="loginWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Вход</h4>
      </div>
      <div class="modal-body">
        {{input type="email" class="form-control" placeholder="Электронный адрес..." value=email}}
        <input class="form-control" type="password" placeholder="Пароль..." />
        <button type="button" class="btn btn-default" {{action "login"}}>Войти</button>
      </div>
      <div class="modal-footer sn-group">
          <button type="button" class="btn btn-default">Google</button>
          <button type="button" class="btn btn-default">ВКонтакте</button>
          <button type="button" class="btn btn-default">Facebook</button>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#signUpWindow">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</div>