<form class="navbar-form navbar-right" {{action "search" searchString on="submit"}}>
  <div class="search-by-name form-group">
    {{input class="form-control" type="text" placeholder="Поиск по названию..." enter="submit" value=searchString}}
  </div>
</form>
