<div class="navbar-form navbar-right">
  <div class="search-by-name form-group">
    {{input class="form-control" type="text" placeholder="Поиск по названию..." enter="search" value=searchString}}
  </div>
</div>
