<span>Если бы в вашем баре были следующие ингредиенты, вы бы смогли приготовить больше коктейлей!</span>
{{markdown-to-html wholePhrases.[0] extensions="internal-links"}}
{{markdown-to-html wholePhrases.[1] extensions="internal-links"}}
{{markdown-to-html wholePhrases.[2] extensions="internal-links"}}
