{{input type=type value=value placeholder=placeholder class="form-control" name=valuePath}}
{{#if isValid}}
  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
{{/if}}

<div class="input-error">
  {{#if showMessage}}
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <div class="help-block has-error">
      {{v-get model valuePath 'message'}}
    </div>
  {{/if}}
</div>
