@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "spinkit-three-bounce";
/*! purgecss end ignore */

/* FONTS */

@font-face {
  src: url("/assets/fonts/CenturyGothic.ttf") format('truetype');
  src: url("/assets/fonts/CenturyGothic.woff") format('woff');
  font-family: "Century Gothic";
  font-display: swap;
}
@font-face {
  src: url("/assets/fonts/CenturyGothic-Italic.ttf") format('truetype');
  src: url("/assets/fonts/CenturyGothic-Italic.woff") format('woff');
  font-family: "Century Gothic";
  font-style: italic;
  font-display: swap;
}
@font-face {
  src: url("/assets/fonts/CenturyGothic-Bold.ttf") format('truetype');
  src: url("/assets/fonts/CenturyGothic-Bold.woff") format('woff');
  font-family: "Century Gothic";
  font-weight: bold;
  font-display: swap;
}
@font-face {
  src: url("/assets/fonts/Georgia-BoldItalic.ttf") format('truetype');
  src: url("/assets/fonts/Georgia-BoldItalic.woff") format('woff');
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

body {
  @apply antialiased;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

input[placeholder] {
  color: #888888 !important;
  text-overflow: ellipsis;
  font-style: italic;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #888888 !important;
  text-overflow: ellipsis;
  font-style: italic;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #888888 !important;
  text-overflow: ellipsis;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: #888888 !important;
  text-overflow: ellipsis;
  font-style: italic;
}

input::-webkit-input-placeholder {
  color: #888888 !important;
  text-overflow: ellipsis;
  font-style: italic;
}

/* CUSTOM CLASSES */

.webp body {
  background-image: url("/assets/new-pattern.webp");
}

.no-webp body {
  background-image: url("/assets/new-pattern.jpg");
}

.active {
  @apply text-orange_beach #{!important};
}

/* POWER SELECT */

@import 'ember-power-select';
@import 'ember-power-select-typeahead';

.ember-power-select-typeahead-trigger {
  @apply rounded;
}

.ember-power-select-typeahead-input {
  @apply border-none;
}

.ember-power-select-option[aria-selected="true"] {
  background-color: #ffffff !important;
}

#mobileSearch .ember-power-select-search-input::placeholder {
    color: transparent !important;
}

#mobileSearch .ember-power-select-search-input:focus::placeholder {
    color: #888 !important;
}

#mobileSearch .ember-power-select-search-input:focus {
  min-width: 250px !important;
  max-width: 250px !important;
  padding: 2px 16px 2px 8px !important;
  border: 1px solid #ccc !important;
  @apply bg-white text-gray-600 #{!important};
}

#mobileSearch .ember-power-select-search-input {
  background-image: url('/assets/search-128.png');
  @apply relative italic text-transparent text-base font-gothic border-none p-0 max-w-[42px] min-w-[42px] h-[42px] bg-right transition-all duration-500 ease-in-out bg-transparent bg-contain bg-no-repeat outline-none #{!important};
  text-indent: 2px;
}

@screen md {
  .ember-power-select-search-input {
    @apply text-gray-600 italic text-sm font-gothic w-full h-full outline-none #{!important};
    text-indent: 2px;
  }
}

.ember-power-select-search-input:focus {
  @apply border-none #{!important};
}

#mobileSearch .ember-power-select-trigger {
  @apply inline-block absolute right-0 h-[42px] bg-transparent p-0 border-none text-sm #{!important};
}

.ember-power-select-trigger {
  @apply px-2 h-[30px] #{!important};
}

@screen md {
  .ember-power-select-trigger {
    @apply min-w-[220px] border-solid border border-gray-400 text-sm #{!important};
  }
}

.ember-basic-dropdown-content {
  @apply font-gothic text-gray-700 text-sm #{!important};
}

.ember-basic-dropdown-trigger {
  @apply py-[2px] #{!important};
}

.ember-power-select-trigger-multiple-input {
  @apply h-[24px];
}

.ember-power-select-multiple-option {
  @apply text-white bg-orange_beach rounded-[10px] border-none px-[5px] h-[21px] leading-[19px] text-[13px] #{!important};
}

.ember-power-select-multiple-remove-btn {
  @apply text-white opacity-100 leading-[13px] text-[15px] #{!important};
}

.ember-power-select-multiple-remove-btn:hover {
  @apply text-brick_red #{!important};
}


/* BURGER */
@import 'ember-burger-menu';
@import 'burger';

/* FILTERS MENU */
#long-cocktail-button {
  background-image: url(/assets/long-64.png);
}
#short-cocktail-button {
  background-image: url(/assets/short-64.png);
}
#shot-cocktail-button {
  background-image: url(/assets/shooter-64.png);
}

#cocktail-types-group {
  > .active {
    background-color: #cae6da !important;
    border-color: #78A590 !important;
  }
}

#options-group {
  > .active {
    @apply text-white bg-light_green rounded-[10px] border-none px-[5px] pb-[2px] mx-0 mb-[3px] #{!important};
  }
}

/* SEARCH RESULTS */
.selected-ingredient {
  @apply bg-orange_beach #{!important};
}

.unselected-ingredient {
  @apply bg-gray-300 #{!important};
}

/* RECIPE VIEW */
.rating-heart-liked {
  background: url("/assets/filled-heart.svg");
}
.rating-heart-liked:hover {
  -webkit-filter: drop-shadow(0px 0px 1px #E85F1B);
  filter: drop-shadow(0px 0px 1px #E85F1B);
}
.rating-heart-unliked {
  background: url("/assets/heart.svg");
}
.rating-heart-unliked:hover {
  -webkit-filter: drop-shadow(0px 0px 1px #E85F1B);
  filter: drop-shadow(0px 0px 1px #E85F1B);
}
