$brick-red: #E85F1B;
$orange-beach: #FFB000;
$violet: #464077;
$light-green: #00AC8D;

body {
  background-image: url("/assets/new-pattern.jpg");
  @media (min-width: 768px) {
    background-attachment: fixed;
  }
  overflow-y: scroll;
  height: 100%;
}
@font-face {
  src: url("/assets/fonts/CenturyGothic.ttf") format('truetype');
  src: url("/assets/fonts/CenturyGothic.woff") format('woff');
  font-family: "Century Gothic";
}
@font-face {
  src: url("/assets/fonts/CenturyGothic-Italic.ttf") format('truetype');
  src: url("/assets/fonts/CenturyGothic-Italic.woff") format('woff');
  font-family: "Century Gothic";
  font-style: italic;
}
@font-face {
  src: url("/assets/fonts/CenturyGothic-Bold.ttf") format('truetype');
  src: url("/assets/fonts/CenturyGothic-Bold.woff") format('woff');
  font-family: "Century Gothic";
  font-weight: bold;
}
@font-face {
  src: url("/assets/fonts/Georgia-BoldItalic.ttf") format('truetype');
  src: url("/assets/fonts/Georgia-BoldItalic.woff") format('woff');
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

input[placeholder] {
  text-overflow: ellipsis;
  font-style: italic;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
  font-style: italic;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
  font-style: italic;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
  font-style: italic;
}

#main-frame {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1024px;
  height: 100%;
  background: white;
  padding: 0;
  min-height: 600px;
  @media (max-width: 767px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

#content-frame {
  // background-image: url("/assets/pattern-top-big.png");
  // background-repeat: repeat-x;
  // background-size: contain;
  width: auto;
  padding-left: 20px;
  padding-top: 5px;
  height: auto !important;
  min-height: 100%;

  #top-pattern {
    margin-left: -20px;
    margin-top: -5px;
    background-image: url("/assets/pattern-top-big.png");
    background-repeat: repeat-x;
    background-size: contain;
    height: 92px;
    width: 1024px;
    display: inline-block;
    position: absolute;
  }

  > span {
    font-family: "Century Gothic";
  }

  > hr {
    margin-right: 5px;
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.icon-bar {
  background-color: white !important;
}

.navbar {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  min-height: 100px;

  > .container-fluid {
    > .navbar-collapse {
      box-shadow: none;
      border: none 0;

      > div.ember-view {
        > .navbar-form {
          margin-right: -10px;
          border-bottom: none 0;
        }
      }
    }

    .navbar-header:after,
    > .navbar-header:before {
      display: flex;
      content: normal;
    }

    > .navbar-header {
      margin-left: -30px;
      margin-right: -25px;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      > a {
        display: inline-block;
        @media (max-width: 360px) {
          > img {
            margin-top: 5px;
            width: 210px;
            height: 70px;
          }
        }
      }

      > .navbar-toggle {
        margin: 15px 0 0;
        width: 42px;
        height: 42px;
        float: none;
        padding: 11px 9px;
        border-color: transparent;

        .icon-bar+.icon-bar {
          margin-top: 6px;
        }
      }

      > .search {
        > #mobileSearch {
          width: 42px;
          height: 42px;
          display: inline;
          > input {
            margin-top: 15px;
            display: inline;
            height: 42px;
            position: absolute;
            min-width: 0px;
            max-width: 0px;
            margin-left: 42px;
            padding: 0px;
            // right: 42px;
            border: none;
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
          }
        }
      }

      > .search:focus {
        outline: none;
      }

      > .search:focus > #mobileSearch > input, .search > #mobileSearch > input:focus {
        min-width: 220px;
        max-width: 220px;
        padding: 2px 16px 2px 8px;
        margin-left: -178px;
        border: 1px solid #ccc;
      }

      .mobile-search-button {
        width: 42px;
        height: 42px;
        margin-top: 15px;
        background-color: transparent;
        background-image: url('/assets/search-128.png');
        background-size: cover;
      }
    }
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    clear: left;
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .navbar {
    > .container-fluid {
      padding-left: 0;
      padding-right: 0;

      > .navbar-collapse {
        padding-left: 0;
        padding-right: 0;

        > div.search-box {
          > .navbar-form {
            margin-right: -15px;
            margin-top: 18px;
          }
        }
      }

      > .navbar-header {
        margin-left: -5px;
        margin-top: 1px;

        > a > img {
          margin-left: 0;
        }

        .mobile-search-button {
          display: none;
        }

        .search {
          display: none;
        }
      }
    }
  }
}

.nav li a,
.nav li a:hover,
.nav li a:visited,
.navbar-default .navbar-nav > li > a:hover,
.navbar-nav li a:hover {
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: $orange-beach;
  background: none;
  -webkit-font-smoothing: auto;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
}

.navbar-nav {
  > li {
    > a {
      padding-left: 0;
      padding-right: 10px;
    }

    > a.active,
    a.active:focus,
    a.active:hover {
      background: none;
      color: $violet;
    }
  }
}

.vr {
  width: 0;
  display: inline-block;
  border-left: 1px solid;
  border-left-color: $violet;
  height: 16px;
  margin-top: 2px;
  margin-bottom: -3px;
}
@media (min-width: 768px) {
  .vr {
    border-left-color: white;
  }
}

#loginArea {
  border-bottom: 1px solid transparent;
  border-color: #e7e7e7;
  margin-right: -10px;
  margin-left: -15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;

  .text-button {
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
    color: $violet;
  }
}
@media (min-width: 768px) {
  #loginArea {
    border: none 0;
    float: right;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;

    .text-button {
      color: white;
    }
  }
}

@media (min-width: 768px) {
  .search-by-name {
    margin-left: -15px;
    margin-right: 10px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
  }
}
.search-by-name {
  font-family: "Century Gothic";

  > input {
    min-width: 200px;
    height: 30px;
    padding: 2px 16px 2px 8px;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-indent: 1px;
  }

  > input:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #ccc;
  }
}

hr {
  clear: both;
  position: relative;
  margin: 2px 0;
  height: 1px;
  background-color: $light-green;
  color: $light-green;
  opacity: 0.7;
  border: 0 none;
}

h3 {
  font-family: "Georgia";
  font-weight: bold;
  font-style: italic;
  color: #78A590;
  font-size: 18px;
  text-align: center;
  -webkit-font-smoothing: auto;
}

#builder-view {
  padding-top: 5px;
  margin-left: 0;
  margin-right: 0;
  border: 0 none;

  h3 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  hr {
    margin-left: 3px;
    margin-right: 0;
  }
}

.fixedsticky {
  top: 0;
}

#builder-view > .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}

#builder-view > .col-md-3 .row {
  margin-bottom: 10px;
}

.search-results {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 5px;

  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  > p {
    font-size: 24px;
    font-family: "Century Gothic";
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  > .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    > .col-md-6 {
      padding: 6px;
    }
  }

  > #prevPageButton {
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  > #nextPageButton {
    float: right;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media(max-width:767px) {
  .search-results {
    padding-left: 0;
  }
}

.btn-default,
.btn-default:focus {
  font-family: "Century Gothic";
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  color: #00ac8d;
  border-color: #bbd2c7;
  outline: none;

  &:active:focus,
  .active.focus,
  .active:focus {
    outline: none;
  }

  &:hover {
    color: #00ac8d;
    background-color: #f3f3f3;
    border-color: #bbd2c7;
  }

  &:active,
  .active {
    color: #00ac8d;
    background-color: #cae6da;
    border-color: #78a590;
  }
}

.text-button,
.text-button:hover {
  font-family: "Century Gothic";
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.text-button-disabled,
.text-button-disabled:hover {
  cursor: default;
  opacity: 0.5;
}

.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

div.validated-input {
  position: relative;
}
$ember-power-select-multiple-selection-background-color: $orange-beach;
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select.scss";
@import "filters-menu.scss";
@import "big-toggle-button.scss";
@import "option-toggle-button.scss";
@import "recipe-box.scss";
@import "login-window.scss";
@import "signup-window.scss";
@import "recipe-detail.scss";
@import "recipes.scss";
@import "bar.scss";
@import "bar-category-box.scss";
@import "comment-item.scss";
@import "spinkit-three-bounce.scss";
@import "error404.scss";
@import "burger.scss";
