.bar-category-box {
  flex: 1;
  margin: 5px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 8px 1px #999999;
  > span {
    font-family: "Georgia";
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    color: #78A590;
  }
}
