.bar-category-box {
  flex: 1;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 8px 1px #999999;
  > span {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-family: "Georgia";
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    color: #78A590;
  }

  > div {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;

  }
}

.arrow-down-btn {
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-color: white;
  display: inline-block;
  -webkit-mask-image: url(/assets/arrow_down.svg);
  mask-image: url(/assets/arrow_down.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  vertical-align: middle;
}

.arrow-down-btn:hover {
  background-color: $brick-red;
}
