.ember-burger-menu .bm-outlet .bm-content {
  background: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
}

.ember-burger-menu .bm-outlet {
  z-index: 25;
  perspective: none;
}

.bm-menu {
  background: $violet;
  position: fixed !important;

  > img {
    margin-left: 10px;
    margin-top: 5px;
  }

  > ul {
    list-style-type: none;
    padding-left: 0;
  }

  .bm-menu-item {
    border-bottom: 2px #453B6D solid;
    vertical-align: middle;

    > div {
      padding-left: 15px;
      padding-bottom: 10px;

      a,
      span {
        font-size: 16px;
      }
    }

    > a {
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      color: white;
      font-size: 20px;
      font-family: "Century Gothic";
    }

    #logoutButton {
      float: right;
      margin-right: 10px;
    }
  }
}
