.ember-burger-menu {
  overflow: visible;
}

.ember-burger-menu .bm-outlet .bm-content {
  background: none;
  overflow: visible;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
}

.ember-burger-menu .bm-outlet {
  z-index: 25;
  perspective: none;
}

.bm-menu {
  @apply bg-violet fixed #{!important};

  > ul {
    list-style-type: none;
    padding-left: 0;
  }

  .bm-menu-item {
    border-bottom: 2px #453B6D solid;
    vertical-align: middle;

    > div {
      @apply pl-15px pb-10px #{!important};

      a,
      span {
        font-size: 16px;
      }
    }

    > a {
      @apply block text-white font-gothic text-xl py-15px pl-15px #{!important};
    }
  }
}
