.chosen-container.chosen-container-multi,
.chosen-container.chosen-container-multi:focus {
	margin-bottom: 10px;
	outline: none;
	box-shadow: none;
}

.chosen-container-multi {
	.chosen-choices {
		border: 1px solid #ccc;
		border-radius: 10px;
		background: none;
		padding-left: 5px;
		padding-right: 0px;

		li.search-field {
			input[type=text] {
				font-family: "CenturyGothic";
			}
		}

		li.search-choice {
			border-radius: 10px;
			border: 0px;
			height: 25px;
			min-width: 25px;
			padding-left: 10px;
			padding-top: 5px;
			margin-right: 10px;
			background: $orange-beach;

			span {
				color: white;
				margin-right: 5px;
			}

			.search-choice-close {
				top: 7px;
				right: 4px;
				// background-image: url("/assets/search-close.png") !important;
			}
		}
	}

	.chosen-choices:focus {
		outline: none;
		box-shadow: none;
	}
}

.chosen-container span,
.chosen-container li {
	font-size: 13px;
    font-family: "CenturyGothic";
    color: #222222;
    -webkit-font-smoothing: antialiased;
}
