.comment-item {
  > div {
    text-align: left;
    margin-bottom: 5px;
    position: relative;
    > span {
      margin-right: 15px;
    }
    > span.author-name {
      font-weight: bold;
    }
    > span.time-from-now {
      color: #666666;
      font-size: 12px;
      white-space: nowrap;
    }
    > span.remove-comment {
      position: absolute;
      margin-right: 0px;
      right: 0px;
      top: 6px;
      font-size: 11px;
      cursor: pointer;
    }
  }

  > p {
    min-height: 30px;
    text-align: left;
  }
}
