#long-cocktail-button {
  background-image: url(/assets/long-64.png);
}
#short-cocktail-button {
  background-image: url(/assets/short-64.png);
}
#shot-cocktail-button {
  background-image: url(/assets/shooter-64.png);
}
#cocktail-types-group {
  padding: 2px;
  padding-left: 2px;
  margin-left: 0;
}
#cocktail-types-group > .col-xs-4 {
  padding-left: 6px;
  padding-right: 6px;
  margin-right: -7px;
  text-align: center;
}
#options-group {
  text-align: center;
  padding-right: 15px;
}
.affix {
  top: 0;
  min-width: 247px;
  max-width: 247px;
}
.affix-top {
  min-width: 247px;
  max-width: 247px;
}
.affix-bottom {
  position: absolute;
  min-width: 247px;
  max-width: 247px;
}
@media(max-width:767px) {
  .affix {
    position: static;
    width: auto;
    top: 0;
  }
}

$ember-power-select-multiple-selection-background-color: $orange-beach;

.ember-power-select-multiple-option {
  font-size: 13px;
  font-family: "CenturyGothic";
  color: #222222 !important;
  -webkit-font-smoothing: antialiased;
}

.ember-power-select-multiple-remove-btn {
  border: 1px solid;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  display: inline-block;
  line-height: 10px;
  padding: 0px;
  text-align: center;
  vertical-align: text-bottom;
}
