#long-cocktail-button {
  background-image: url(/assets/long-64.png);
}
#short-cocktail-button {
  background-image: url(/assets/short-64.png);
}
#shot-cocktail-button {
  background-image: url(/assets/shooter-64.png);
}
#cocktail-types-group {
  padding: 2px;
  padding-left: 2px;
  margin-left: 0;
}
#cocktail-types-group > .col-xs-4 {
  padding-left: 6px;
  padding-right: 6px;
  margin-right: -7px;
  text-align: center;
}
#options-group {
  text-align: center;
  padding-right: 15px;
}

#ingredientChooser > div {
  overflow: auto;
}
.ember-power-select {
  width: 247px;
}

.ember-basic-dropdown-content {
  font-family: "Century Gothic";
  color: #5c5c5c;
}

.ember-power-select-option--highlighted {
  background-color: #ffaa00;
}

.ember-basic-dropdown-trigger {
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Century Gothic";
}

.ember-power-select-multiple-option {
  padding-left: 2px;
  padding-right: 5px;
  margin: 2px;
  font-size: 13px;
  font-family: "Century Gothic";
  height: 21px;
  -webkit-font-smoothing: auto;
  border-radius: 10px;
  border: none;
  color: white !important;
  line-height: 19px;
}

.ember-power-select-multiple-remove-btn {
  width: 15px;
  height: 15px;
  display: inline-block;
  line-height: 13px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  color: white;
  opacity: 1 !important;
  font-size: 15px;
  font-family: verdana;
}

// .ember-power-select-multiple-remove-btn:hover {
//   color: $brick-red;
// }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

#filtersMenu {
    > a {
    color: black;
    display: inline-block;
  }
}
