.login-window {
	border-radius: 0px;
	background-color: transparent;
	box-shadow: 0 0 0px transparent;
	padding: 0px 0px 0px 0px;
	.modal-title {
		color: $violet;
		font-family: "Georgia";
		font-style: italic;
		font-weight: bold;
	}
  .modal-sm {
    width: 350px;
  }
  .modal-body {
    input {
      width: 100%;
      margin-bottom: 10px;
      font-family: "CenturyGothic";
      font-size: 14px;
    }
    button {
      width: 100%;
    }
  }
  .modal-footer {
    text-align: left;
    button {
      width: 100%;
    }
  }
  .modal-footer.sn-group {
    button {
      width: 100px;
      color: white;
      border: none;
      opacity: 1;
    }
    button:hover {
      opacity: 0.8;
      transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;
    }
    #googleButton {
      background-color: #D83E31;
    }
    #vkButton {
      background-color: #6281A6;
    }
    #fbButton {
      background-color: #47619C;
    }
  }
}
