.recipe-box {
  height: 185px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 8px 1px #999999;
  padding-left: 0;
  padding-right: 0;
  > a {
    text-decoration: none;
    > div {
      height: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;

      > div.recipe-image-container {
        width: 134px;
        height: 178px;
        float: left;
        margin-top: 4px;
        margin-left: 4px;
        margin-bottom: 4px;
        margin-right: 5px;
        border: 1px solid #e0e0e0;

        > div {
          position: absolute;
          width: 132px;
          height: 176px;

          > .views-icon-container {
            position: absolute;
            top: 0px;
            left: 5px;
            opacity: 0.7;

            > img {
              width: 16px;
              height: 16px;
            }

            > span {
              font-family: "CenturyGothic";
              font-size: 13px;
              color: #333333;
              vertical-align: middle;
            }
          }

          > .rating-icon-container {
            position: absolute;
            right: 5px;
            top: 0px;
            opacity: 0.7;

            > img {
              width: 15px;
              height: 15px;
            }

            > span {
              font-family: "CenturyGothic";
              font-size: 13px;
              color: #333333;
              vertical-align: middle;
            }
          }
        }
      }

      > div {
        text-align: center;
        > #tags {
          position: absolute;
          bottom: 11px;
          left: 150px;
          right: 0px;
          text-align: left;

          > img {
            width: 24px;
            height: 24px;
          }

          @media (min-width: 768px) {
            > img {
              width: 32px;
              height: 32px;
            }
          }
        }
        > #ingredients {
          text-align: left;
          padding-top: 5px;
          padding-right: 5px;
          span {
            text-align: center;
            display: inline-block;
            white-space: nowrap;
            border-radius: 10px;
            border: 0;
            height: 25px;
            min-width: 25px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 4px;
            padding-bottom: 5px;
            line-height: normal;
            color: #1c1c1c;
            font-size: 11px;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (min-width: 768px) {
              font-size: 12px;
            }

            font-family: "CenturyGothic";
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }
}
.recipe-box:hover {
  background-color: rgba(255, 174, 0, 0.1);
}
.selected-ingredient {
  background-color: $orange-beach;
}
.unselected-ingredient {
  background-color: #e0e0e0;
}
.recipe-name-text {
  font-family: "Georgia";
  font-weight: bold;
  font-style: italic;
  color: #464077;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: initial;
}
@media (min-width: 768px) {
  .recipe-name-text {
    font-size: 20px;
  }
}
#devMode {
  color: red;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
  top: 0px;
}
