$light-grey: #cccccc;
$dark-grey: #c0c0c0;
$row-height: 42px;

#recipeView {
	padding-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0 none;

	span, p {
		font-family: "CenturyGothic";
		color: #222222;
		font-size: 11pt;
		-webkit-font-smoothing: antialiased;
	}
    
    p {
        margin-top: 30px;
        white-space: pre-wrap;
        text-align: justify;
    }

	> #imageCon {
		padding-left: 0px;
		padding-right: 0px;

		img {
			width: 386px;
			height: 514px;
			float: left;
			border: 1px solid #e0e0e0;
		}
	}

	> div {
		text-align: center;
	}

	.description {
		padding-left: 0px;

		> div {
			margin-top: 15px;
		}
	}

	#recipeName {
		font-family: "Georgia";
		font-weight: bold;
		font-style: italic;
		color: #464077;
		font-size: 20pt;
		text-align: center;
		-webkit-font-smoothing: antialiased;
	}
	

	.consistRow {
		padding-left: 5px;
		padding-right: 5px;
		width: 100%;
		height: $row-height;

		#recipeConsist {
			font-weight: bold;
		}

		#tags {
			text-align: center;
			height: 100%;
			line-height: $row-height;
		}

		.leftColumn {
			float: left;
			clear: left;
			height: 100%;
		}

		.rightColumn {
			float: right;
			clear: right;
			height: 100%;
		}

		span {
			line-height: $row-height;
		}
	}

	hr {
		background-color: $light-grey;
		color: $light-grey;
		height: 1px;
		border: 0 none;
        margin-top: 0px;
        margin-bottom: 0px;
		margin-right: 0px;
	}

	hr.darkLine {
		background-color: $dark-grey;
		color: $dark-grey;
	}
}

