$light-grey: #cccccc;
$dark-grey: #c0c0c0;

#recipeView {
	padding-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	border: 0 none;

	> #imageCon {
		padding-left: 0px;
		padding-right: 0px;

		img {
			width: 384px;
			height: 512px;
			float: left;
			border: 1px solid #e0e0e0;
		}
	}

	> div {
		text-align: center;
	}

	#recipeName {
		font-family: "Georgia";
		font-weight: bold;
		font-style: italic;
		color: #464077;
		font-size: 20pt;
		text-align: center;
		-webkit-font-smoothing: antialiased;
	}

	hr {
		background-color: $light-grey;
		color: $light-grey;
		height: 1px;
		border: 0 none;
	}

	hr.darkLine {
		background-color: $dark-grey;
		color: $dark-grey;
	}
}

