$light-grey: #cccccc;
$dark-grey: #c0c0c0;
$row-height: 42px;
#recipeView {
  padding-top: 10px;
  margin-left: 0;
  margin-right: 0;
  border: 0 none;
  text-align: center;
  p,
  span {
    font-family: "CenturyGothic";
    color: #222222;
    font-size: 11pt;
    -webkit-font-smoothing: antialiased;
  }
  p {
    white-space: pre-wrap;
    text-align: justify;
  }
  > #imageCon {
    padding-left: 0;
    padding-right: 0;
    margin-right: 5px;
    text-align: center;
    > div {
      display: inline-block;
      margin-bottom: 10px;
      width: 386px;
      max-width: 100%;
      border: 1px solid #e0e0e0;
      position: relative;
      > img {
        width: 100%;
        height: 100%;
      }

      > #emptyImage {
        opacity: 0;
        position: absolute;
        top: 0px;
      }
      .views-icon-container {
        position: absolute;
        top: 10px;
        left: 15px;
        opacity: 0.7;
        > img {
          width: 16px;
          height: 16px;
        }
        > span {
          font-family: "CenturyGothic";
          font-size: 13px;
          color: #333333;
          vertical-align: middle;
        }
      }
      .rating-icon-container {
        position: absolute;
        top: 10px;
        right: 20px;
        opacity: 0.7;
        display: flex;
        align-items: center;
        > div {
          width: 16px;
          height: 16px;
          margin-right: 3px;
          cursor: pointer;
        }
        > span {
          font-family: "CenturyGothic";
          font-size: 13px;
          color: #333333;
          vertical-align: middle;
        }
      }
    }
  }
  @media (min-width: 992px) {
    > #imageCon {
      text-align: left;
      margin-right: 0;
    }
  }
  > div {
    text-align: center;
  }
  .description {
    padding-left: 0;
    padding-right: 0;
    > div {
      margin-top: 30px;
      > p {
        margin-bottom: 1em;
      }
    }
  }
  @media (min-width: 992px) {
    .description {
      padding-right: 15px;
    }
  }
  #recipeName {
    font-family: "Georgia";
    font-weight: bold;
    font-style: italic;
    color: #464077;
    font-size: 20pt;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 0;
  }
  #originalName {
    font-family: "Georgia";
    font-style: italic;
    color: #464077;
    font-size: 16pt;
    text-align: center;;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0.7;
  }
  .consistRow {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: $row-height;
    #recipeConsist {
      font-weight: bold;
    }
    #tags {
      text-align: center;
      height: 100%;
      line-height: $row-height;
    }
    .leftColumn {
      float: left;
      clear: left;
      height: 100%;
    }
    .rightColumn {
      float: right;
      clear: right;
      height: 100%;
    }
    span {
      line-height: $row-height;
    }
  }
  hr {
    background-color: $light-grey;
    color: $light-grey;
    height: 1px;
    border: 0 none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  hr.darkLine {
    background-color: $dark-grey;
    color: $dark-grey;
  }
}
.rating-heart-liked {
  background: url("/assets/filled-heart.svg");
}
.rating-heart-liked:hover {
  -webkit-filter: drop-shadow(0px 0px 1px $brick-red);
  filter: drop-shadow(0px 0px 1px $brick-red);
}
.rating-heart-unliked {
  background: url("/assets/heart.svg");
}
.rating-heart-unliked:hover {
  -webkit-filter: drop-shadow(0px 0px 1px $brick-red);
  filter: drop-shadow(0px 0px 1px $brick-red);
}
#commentsView {
  padding-right: 5px;
  margin-top: 30px;
  max-width: 100%;
  margin-bottom: 10px;
  font-family: "CenturyGothic";
  .comment-and-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    > div > .share-button {
      margin-right: 0px;
      margin-left: 4px;
    }
    @media(max-width: 768px) {
      > div > .share-button {
        margin-left: 6px;
      }
    }
  }
  h2 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  > .comment-edit {
    margin-bottom: 20px;
    text-align: right;
  }
  > div {
    > textarea {
      text-align: left;
      resize: vertical;
    }
    > p.form-control {
      text-align: left;
      min-height: 60px;
      height: auto;
      > a {
        cursor: pointer;
      }
    }
  }
  #submitComment {
    margin-top: 5px;
  }
}
