#signUpWindow {
	.modal-sm {
		width: 300px;
	}

	.modal-body {
		input {
			width: 100%;
			margin-bottom: 10px;
			font-family: "CenturyGothic";
			font-size: 14px;
		}

		button {
			width: 100%;
		}
	}

	.modal-footer {
		text-align: left;
		button {
			width: 100%;
		}
	}

	.modal-footer.sn-group {
		button {
			width: 100px;
		}
	}

	span {
		font-family: "CenturyGothic";
		font-size: 14px;
	}
}