.signup-window {
  .modal-title {
    color: $violet;
    font-family: "Georgia";
    font-style: italic;
    font-weight: bold;
  }
  .modal-body {
    input {
      width: 100%;
      font-family: "Century Gothic";
      font-size: 14px;
    }
    button {
      width: 100%;
    }
  }
  .modal-footer {
    text-align: left;
    button {
      width: 100%;
    }
  }
  .modal-footer.sn-group {
    button {
      width: 100px;
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
    span {
      font-family: "Century Gothic";
      font-size: 14px;
      line-height: 36px;
    }
  }
}
