<div class="block mx-4 text-left text-md font-gothic mt-5">
  drinkIt не хранит ваши персональные данные; они используються только для авторизации.
  Согласно правила Платформы Facebook вы можете удалить связь между drinkIt и Facebook с помощью следующих шагов:
  <ol class="list-decimal mx-4">
    <li>В вашем аккаунте Facebook зайдите в "Настройки и конфиденциальность". Нажмите "Настройки".</li>
    <li>Затем зайдите на страницу "Приложения и сайты". Там вы увидите все ваши активности на сторонних сайтах и приложениях.</li>
    <li>В списке сайтов найдите drinkIt и нажмите кнопку "Удалить".</li>
  </ol>
</div>