<div id="builder-view" class="row">
  {{filters-menu doSearch="doSearch" toggleType="toggleType" toggleOption="toggleOption" selecedIngredients=selectedIngredients ingredients=ingredients}}
  <div id="search-results" class="col-md-9">
  	<div class="row">
  		{{#each recipes as |recipe|}}
  			{{recipe-item recipe=recipe store=store selectedIngredients=selectedIngredients}}
  		{{/each}}
  	</div>	
  </div>
</div>