<div id="builder-view" class="row">
  {{filters-menu doSearch="doSearch" toggleType="toggleType" toggleOption="toggleOption" selectedIngredients=selectedIngredients ingredients=ingredients}}
  <div class="search-results col-md-9">
  	<div class="row">
  		{{#each recipesOnPage as |recipe|}}
  			{{recipe-item recipe=recipe store=store selectedIngredients=selectedIngredients}}
  		{{/each}}
  	</div>
    {{#if isPreviousPageExist}}
      {{#link-to 'builder' (query-params pageNumber=previousPageNumber) id="prevPageButton" class="btn btn-default"}}Назад{{/link-to}}
    {{/if}}
    {{#if isNextPageExist}}
      {{#link-to 'builder' (query-params pageNumber=nextPageNumber) id="nextPageButton" class="btn btn-default"}}Еще коктейлей...{{/link-to}}
    {{/if}}
  </div>
</div>
