<div class="container-fluid">
  <div class="row">
    {{#each-in ingredientsInCategories as |category ingredients|}}
      <div class="ingredients-col col-md-5ths col-sm-6 col-xs-12">
        <h3>{{category}}</h3>
        <ul class="ingredients-list">
          {{#each ingredients as |ingr|}}
            <li><a href="{{href-to 'ingredient' ingr.id}}">{{ingr.name}}</a></li>
          {{/each}}
        </ul>
      </div>
    {{/each-in}}
  </div>
</div>
