<div class="flex flex-wrap">
    {{#each-in ingredientsInCategories as |category ingredients|}}
      <div class="min-w-200px">
        <h3 class="text-orange_beach test-md font-georgia font-bold italic subpixel-antialiased">{{category}}</h3>
        <ul class="ingredients-list">
          {{#each ingredients as |ingr|}}
            <li><a class="local-link" href="{{href-to 'ingredient' ingr.id}}">{{ingr.name}}</a></li>
          {{/each}}
        </ul>
      </div>
    {{/each-in}}
</div>
